In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import pandas as pd
from re import search

In [2]:
# Retrieve page with the requests module
url_nasa = 'https://mars.nasa.gov/#news_and_events'
response_nasa = requests.get(url_nasa)

In [3]:
# Create BeautifulSoup object; parse with 'html.parser'
soup_nasa = BeautifulSoup(response_nasa.text, 'html.parser')

In [13]:
# results are returned as an iterable list
results_nasa = soup_nasa.find_all('h3', class_='title')
print(results_nasa)

[<h3 class="title">
<a href="/news/8896/nasa-ingenuity-mars-helicopter-prepares-for-first-flight/">NASA Ingenuity Mars Helicopter Prepares for First Flight</a>
</h3>, <h3 class="title">
<a href="/news/8891/nasa-to-host-briefing-to-preview-first-mars-helicopter-flights/">NASA to Host Briefing to Preview First Mars Helicopter Flights</a>
</h3>, <h3 class="title">
<a href="/news/8892/another-first-perseverance-captures-the-sounds-of-driving-on-mars/">Another First: Perseverance Captures the Sounds of Driving on Mars</a>
</h3>, <h3 class="title">
<a href="https://mars.nasa.gov/mars-exploration/missions/phoenix/" target="_self">13th Anniversary: Mars Phoenix Landing</a>
</h3>, <h3 class="title">
<a href="https://mars.nasa.gov/mars-exploration/missions/pathfinder/" target="_self">24th Anniversary: Mars Pathfinder Landing </a>
</h3>, <h3 class="title">
<a href="https://mars.nasa.gov/msl/home/" target="_self">9th Anniversary: Mars Science Laboratory Landing </a>
</h3>]

In [11]:
nasa_news = {}

article_title = []
article_link = []

# assign article title and url to lists
for result in results_nasa:

    try:
        # Identify and return title of listing
        title = result.a.text

        # Identify and return link to listing
        link = result.a['href']
        if search('http', link):
            link = link
        else:
            link = url_nasa + link

        # Append results only if title and link are available
        if (title and link):
            article_title.append(title)
            article_link.append(link)
    except AttributeError as e:
        print(e)

 # import lists into nasa_news dictionary
# nasa_news['nasa'] = [{'title': title, 'src': src} for title in article_title for src in article_link]
nasa_news['nasa'] = {'title': article_title, 'src': article_link}
nasa_news
# nasa_news['title_nasa'] = article_title
# nasa_news['url_nasa'] = article_link

{'nasa': {'title': ['NASA Ingenuity Mars Helicopter Prepares for First Flight',
   'NASA to Host Briefing to Preview First Mars Helicopter Flights',
   'Another First: Perseverance Captures the Sounds of Driving on Mars',
   '13th Anniversary: Mars Phoenix Landing',
   '24th Anniversary: Mars Pathfinder Landing ',
   '9th Anniversary: Mars Science Laboratory Landing '],
  'src': ['https://mars.nasa.gov/#news_and_events/news/8896/nasa-ingenuity-mars-helicopter-prepares-for-first-flight/',
   'https://mars.nasa.gov/#news_and_events/news/8891/nasa-to-host-briefing-to-preview-first-mars-helicopter-flights/',
   'https://mars.nasa.gov/#news_and_events/news/8892/another-first-perseverance-captures-the-sounds-of-driving-on-mars/',
   'https://mars.nasa.gov/mars-exploration/missions/phoenix/',
   'https://mars.nasa.gov/mars-exploration/missions/pathfinder/',
   'https://mars.nasa.gov/msl/home/']}}

In [ ]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
# Retrieve page with the requests module
url_jpl = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(url_jpl)

In [ ]:
browser.links.find_by_partial_text('FULL IMAGE').click()

In [ ]:
# images = browser.find_by_tag('div')
# src = browser.find_by_tag('img')
# image_url = browser.find_by_css('a.showimg.fancybox-thumbs')['href']
image_url = browser.find_by_css('img.headerimage.fade-in')
# image_url = browser.find_by_tag('img')
print(image_url['src'])
# print(src[0])
# for elements in image_url:
#     print(elements)['src']
# browser.quit()
# https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg

In [ ]:
browser.quit()

In [ ]:
url_jpl = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'

response_jpl = requests.get(url_jpl)
# Create BeautifulSoup object; parse with 'html.parser'

soup_jpl = BeautifulSoup(response_jpl.text, 'html.parser')
# results are returned as an iterable list
 
results_jpl = soup_jpl.find_all('img')

In [ ]:
results_jpl

In [ ]:
url_mars = 'https://space-facts.com/mars/'

response_mars = requests.get(url_mars)
# Create BeautifulSoup object; parse with 'html.parser'

soup_mars = BeautifulSoup(response_mars.text, 'html.parser')
# results are returned as an iterable list

data_mars = []
table = soup_mars.find('table', attrs={'id':'tablepress-p-mars'})
table_body = table.find('tbody')

rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data_mars.append([ele for ele in cols if ele])

data_mars_earth = []
table = soup_mars.find('table', attrs={'id':'tablepress-comp-mars'})
table_body = table.find('tbody')

rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data_mars_earth.append([ele for ele in cols if ele])

In [ ]:
data_mars_earth

In [ ]:
img_data = {'title': [], 'img': []}
title = []
img = []

moons = ['Cerberus', 'Schiaparelli', 'Syrtis', 'Valles']

url_mars_hemi = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
new = url_mars_hemi.split('/')
url_recon = new[0] + '//' + new[2]

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

for i in range(4):
    
    url_mars_hemi = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
    browser.visit(url_mars_hemi)
    browser.links.find_by_partial_text(moons[i]).click()
    new_url = browser.url
    response_title = requests.get(new_url)
    # Create BeautifulSoup object; parse with 'html.parser'

    soup_title = BeautifulSoup(response_title.text, 'html.parser')
    # results are returned as an iterable list

    hemi_title = soup_title.find('head')
    title.append(hemi_title.title.text)
    print(hemi_title.title.text)

    hemi_img = soup_title.find('img', class_='thumb')
    img.append(url_recon + hemi_img['src'])
    print(hemi_img['src'])
    
    i += 1
    
browser.quit()

img_data['title'].append(title)
img_data['img'].append(img)

In [ ]:
for index in range(len(img_data['title'][0])):
    img_data['title'][0][index] = img_data['title'][0][index].split(" | ")[0]
    img_data['title'][0][index] = img_data['title'][0][index].replace(' Enhanced','')
img_data

In [ ]:
img_data['title'][0][1]

In [2]:
url_mars = 'https://space-facts.com/mars/'
tables = pd.read_html(url_mars)
mars_data_tb = tables[0]
mars_earth_tb = tables[1]

In [3]:
mars_data_tb.rename(columns={0:'Attribute', 1:'Value'}, inplace = True)
mars_data_tb.set_index('Attribute', inplace = True)

In [4]:
mars_data_tb

                                              Value
Attribute
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [7]:
mars_earth_tb.rename(columns={'Mars - Earth Comparison':'Attribute'}, inplace = True)
mars_earth_tb.set_index('Attribute', inplace = True)

KeyError: "None of ['Attribute'] are in the columns"

In [8]:
mars_earth_tb

                               Mars            Earth
Attribute
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [13]:
mars_earth_html = mars_earth_tb.to_html(header = True, index_names = False)
mars_data_html = mars_data_tb.to_html()

In [14]:
mars_earth_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'